In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
data_1 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\763_HWFET - Copy.csv")
data_1 = data_1.iloc[1:,:]
data_1

C:\Users\dell\AppData\Local\Temp\ipykernel_20352\359036327.py:1: DtypeWarning: Columns (8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data_1 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\763_HWFET - Copy.csv")

,Time Stamp,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,04-09-2019 16:42,35.0,TABLE,22:27.5,00:01.5,1.0,1.0,Turnigy_CyclesA,4.19391,-0.0332,37.5416,0,0,5
2,04-09-2019 16:42,35.0,TABLE,22:27.6,00:01.6,1.0,1.0,Turnigy_CyclesA,4.19391,-0.07662,37.5416,0,-0.00001,5
3,04-09-2019 16:42,35.0,TABLE,22:27.7,00:01.7,1.0,1.0,Turnigy_CyclesA,4.19374,-0.08939,37.5416,0,-0.00001,5
4,04-09-2019 16:42,35.0,TABLE,22:27.8,00:01.8,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.5416,-0.00001,-0.00003,5
5,04-09-2019 16:42,35.0,TABLE,22:27.9,00:01.9,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.5416,-0.00001,-0.00004,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99406,04-09-2019 19:28,37.0,PAU,08:07.9,09:59.7,0.0,0.0,Turnigy_CyclesA,3.55503,0.0,38.8035,-4.50283,-17.36655,5
99407,04-09-2019 19:28,37.0,PAU,08:08.0,09:59.8,0.0,0.0,Turnigy_CyclesA,3.55503,0.0,38.8035,-4.50283,-17.36655,5
99408,04-09-2019 19:28,37.0,PAU,08:08.1,09:59.9,0.0,0.0,Turnigy_CyclesA,3.55503,0.0,38.8035,-4.50283,-17.36655,5
99409,04-09-2019 19:28,37.0,PAU,08:08.2,10:00.0,0.0,0.0,Turnigy_CyclesA,3.55503,0.0,38.8035,-4.50283,-17.36655,5
99410,04-09-2019 19:28,37.0,PAU,08:08.2,10:00.0,0.0,0.0,Turnigy_CyclesA,3.55503,0.0,38.8035,-4.50283,-17.36655,5

In [3]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99410 entries, 1 to 99410
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time Stamp   99410 non-null  object
 1   Step         99410 non-null  float64
 2   Status       99410 non-null  object
 3   Prog Time    99410 non-null  object
 4   Step Time    99410 non-null  object
 5   Cycle        99410 non-null  float64
 6   Cycle Level  99410 non-null  float64
 7   Procedure    99410 non-null  object
 8   Voltage      99410 non-null  object
 9   Current      99410 non-null  object
 10  Temperature  99410 non-null  object
 11  Capacity     99410 non-null  object
 12  WhAccu       99410 non-null  object
 13  Cnt          99410 non-null  object
dtypes: float64(3), object(11)
memory usage: 10.6+ MB

Data-2

In [4]:
data_2 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\765_LA92 - Copy.csv")
data_2 = data_2.iloc[1:,:]
data_2

C:\Users\dell\AppData\Local\Temp\ipykernel_20352\2492831587.py:1: DtypeWarning: Columns (1,5,6,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\765_LA92 - Copy.csv")

,Time Stamp,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,04-12-2019 04:45,42,TABLE,02:36.2,00:01.8,1,1,Turnigy_CyclesA,4.1931,-0.0358,37.5416,0,0,4
2,04-12-2019 04:45,42,TABLE,02:36.3,00:01.9,1,1,Turnigy_CyclesA,4.1929,-0.0766,37.5416,0,0,4
3,04-12-2019 04:45,42,TABLE,02:36.4,00:02.0,1,1,Turnigy_CyclesA,4.1929,-0.0894,37.5416,0,0,4
4,04-12-2019 04:45,42,TABLE,02:36.5,00:02.1,1,1,Turnigy_CyclesA,4.1929,-0.0919,37.5416,0,0,4
5,04-12-2019 04:45,42,TABLE,02:36.6,00:02.2,1,1,Turnigy_CyclesA,4.1929,-0.0919,37.5416,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149607,04-12-2019 08:55,44,PAU,12:12.9,09:59.7,0,0,Turnigy_CyclesA,3.7325,0.0,38.488,-3.4473,-13.4497,4
149608,04-12-2019 08:55,44,PAU,12:13.0,09:59.8,0,0,Turnigy_CyclesA,3.7325,0.0,38.488,-3.4473,-13.4497,4
149609,04-12-2019 08:55,44,PAU,12:13.1,09:59.9,0,0,Turnigy_CyclesA,3.7325,0.0,38.488,-3.4473,-13.4497,4
149610,04-12-2019 08:55,44,PAU,12:13.2,10:00.0,0,0,Turnigy_CyclesA,3.7325,0.0,38.488,-3.4473,-13.4497,4
149611,04-12-2019 08:55,44,PAU,12:13.2,10:00.0,0,0,Turnigy_CyclesA,3.7325,0.0,38.488,-3.4473,-13.4497,4

Data-3

In [5]:
data_3 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\763_UDDS - Copy.csv")
data_3 = data_3.iloc[1:,:]
data_3

C:\Users\dell\AppData\Local\Temp\ipykernel_20352\4091532124.py:1: DtypeWarning: Columns (8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data_3 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\763_UDDS - Copy.csv")

,Time Stamp,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,04-09-2019 06:12,28.0,TABLE,52:10.0,00:01.5,1.0,1.0,Turnigy_CyclesA,4.19391,-0.0332,37.64675,0,0,4
2,04-09-2019 06:12,28.0,TABLE,52:10.1,00:01.6,1.0,1.0,Turnigy_CyclesA,4.19374,-0.07407,37.64675,0,-0.00001,4
3,04-09-2019 06:12,28.0,TABLE,52:10.2,00:01.7,1.0,1.0,Turnigy_CyclesA,4.19374,-0.08939,37.64675,0,-0.00002,4
4,04-09-2019 06:12,28.0,TABLE,52:10.3,00:01.8,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.64675,-0.00001,-0.00003,4
5,04-09-2019 06:12,28.0,TABLE,52:10.4,00:01.9,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.64675,-0.00001,-0.00004,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295673,04-09-2019 14:25,30.0,PAU,04:59.3,09:59.7,0.0,0.0,Turnigy_CyclesA,3.53143,0.0,38.48802,-4.50284,-17.35215,4
295674,04-09-2019 14:25,30.0,PAU,04:59.4,09:59.8,0.0,0.0,Turnigy_CyclesA,3.53143,0.0,38.59318,-4.50284,-17.35215,4
295675,04-09-2019 14:25,30.0,PAU,04:59.5,09:59.9,0.0,0.0,Turnigy_CyclesA,3.53143,0.0,38.59318,-4.50284,-17.35215,4
295676,04-09-2019 14:25,30.0,PAU,04:59.6,10:00.0,0.0,0.0,Turnigy_CyclesA,3.53143,0.0,38.59318,-4.50284,-17.35215,4
295677,04-09-2019 14:25,30.0,PAU,04:59.6,10:00.0,0.0,0.0,Turnigy_CyclesA,3.53143,0.0,38.59318,-4.50284,-17.35215,4

Data-4

In [6]:
data_4 = pd.read_csv(r"C:\Users\dell\Downloads\4fx8cjprxm-1\40 degC\761_HPPC - Copy.csv")
data_4 = data_4.iloc[1:,:]
data_4

,Time Stamp,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,04-03-2019 17:28,1.0,PAU,57:57.4,00:00.1,1.0,1.0,HPPC_4pulse_Return,4.19557,0,37.5416,0,0,34
2,04-03-2019 17:28,1.0,PAU,57:57.5,00:00.2,1.0,1.0,HPPC_4pulse_Return,4.19557,0,37.5416,0,0,34
3,04-03-2019 17:28,1.0,PAU,57:57.6,00:00.3,1.0,1.0,HPPC_4pulse_Return,4.19557,0,37.5416,0,0,34
4,04-03-2019 17:28,1.0,PAU,57:57.7,00:00.4,1.0,1.0,HPPC_4pulse_Return,4.19557,0,37.5416,0,0,34
5,04-03-2019 17:28,1.0,PAU,57:57.8,00:00.5,1.0,1.0,HPPC_4pulse_Return,4.19557,0,37.5416,0,0,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51771,04-05-2019 05:58,15.0,PAU,27:38.6,14:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51772,04-05-2019 05:58,15.0,PAU,27:44.3,14:05.6,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.75191,4.77165,18.5838,35
51773,04-05-2019 05:59,15.0,PAU,28:38.6,15:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51774,04-05-2019 05:59,15.0,PAU,28:38.6,15:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51775,04-05-2019 05:59,21.0,PAU,28:39.7,00:01.0,0.0,0.0,Turnigy_NN_Char,4.19405,0,37.85707,0,0,35

In [7]:
data = pd.concat([data_1,data_2, data_3, data_4], axis=0)
data

,Time Stamp,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,04-09-2019 16:42,35.0,TABLE,22:27.5,00:01.5,1.0,1.0,Turnigy_CyclesA,4.19391,-0.0332,37.5416,0,0,5
2,04-09-2019 16:42,35.0,TABLE,22:27.6,00:01.6,1.0,1.0,Turnigy_CyclesA,4.19391,-0.07662,37.5416,0,-0.00001,5
3,04-09-2019 16:42,35.0,TABLE,22:27.7,00:01.7,1.0,1.0,Turnigy_CyclesA,4.19374,-0.08939,37.5416,0,-0.00001,5
4,04-09-2019 16:42,35.0,TABLE,22:27.8,00:01.8,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.5416,-0.00001,-0.00003,5
5,04-09-2019 16:42,35.0,TABLE,22:27.9,00:01.9,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.5416,-0.00001,-0.00004,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51771,04-05-2019 05:58,15.0,PAU,27:38.6,14:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51772,04-05-2019 05:58,15.0,PAU,27:44.3,14:05.6,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.75191,4.77165,18.5838,35
51773,04-05-2019 05:59,15.0,PAU,28:38.6,15:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51774,04-05-2019 05:59,15.0,PAU,28:38.6,15:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51775,04-05-2019 05:59,21.0,PAU,28:39.7,00:01.0,0.0,0.0,Turnigy_NN_Char,4.19405,0,37.85707,0,0,35

In [8]:
data = data.iloc[:,1:]
data

,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,35.0,TABLE,22:27.5,00:01.5,1.0,1.0,Turnigy_CyclesA,4.19391,-0.0332,37.5416,0,0,5
2,35.0,TABLE,22:27.6,00:01.6,1.0,1.0,Turnigy_CyclesA,4.19391,-0.07662,37.5416,0,-0.00001,5
3,35.0,TABLE,22:27.7,00:01.7,1.0,1.0,Turnigy_CyclesA,4.19374,-0.08939,37.5416,0,-0.00001,5
4,35.0,TABLE,22:27.8,00:01.8,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.5416,-0.00001,-0.00003,5
5,35.0,TABLE,22:27.9,00:01.9,1.0,1.0,Turnigy_CyclesA,4.19374,-0.09195,37.5416,-0.00001,-0.00004,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51771,15.0,PAU,27:38.6,14:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51772,15.0,PAU,27:44.3,14:05.6,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.75191,4.77165,18.5838,35
51773,15.0,PAU,28:38.6,15:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51774,15.0,PAU,28:38.6,15:00.0,0.0,0.0,NN_Char_Charge_R2,4.19405,0,37.85707,4.77165,18.5838,35
51775,21.0,PAU,28:39.7,00:01.0,0.0,0.0,Turnigy_NN_Char,4.19405,0,37.85707,0,0,35

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 596473 entries, 1 to 51775
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Step         596473 non-null  object
 1   Status       596473 non-null  object
 2   Prog Time    596473 non-null  object
 3   Step Time    596473 non-null  object
 4   Cycle        596473 non-null  object
 5   Cycle Level  596473 non-null  object
 6   Procedure    596473 non-null  object
 7   Voltage      596473 non-null  object
 8   Current      596473 non-null  object
 9   Temperature  596473 non-null  object
 10  Capacity     596473 non-null  object
 11  WhAccu       596473 non-null  object
 12  Cnt          596473 non-null  object
dtypes: object(13)
memory usage: 63.7+ MB

In [10]:
data[['Step','Cycle', 'Cycle Level', 'Voltage','Current','Temperature','Capacity','WhAccu','Cnt']] = data[['Step','Cycle', 'Cycle Level', 'Voltage','Current','Temperature','Capacity','WhAccu','Cnt']].astype('float')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 596473 entries, 1 to 51775
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Step         596473 non-null  float64
 1   Status       596473 non-null  object
 2   Prog Time    596473 non-null  object
 3   Step Time    596473 non-null  object
 4   Cycle        596473 non-null  float64
 5   Cycle Level  596473 non-null  float64
 6   Procedure    596473 non-null  object
 7   Voltage      596473 non-null  float64
 8   Current      596473 non-null  float64
 9   Temperature  596473 non-null  float64
 10  Capacity     596473 non-null  float64
 11  WhAccu       596473 non-null  float64
 12  Cnt          596473 non-null  float64
dtypes: float64(9), object(4)
memory usage: 63.7+ MB

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

data['Status'] = encoder.fit_transform(data['Status'])
data['Procedure'] = encoder.fit_transform(data['Procedure'])

data

,Step,Status,Prog Time,Step Time,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,35.0,3,22:27.5,00:01.5,1.0,1.0,3,4.19391,-0.03320,37.54160,0.00000,0.00000,5.0
2,35.0,3,22:27.6,00:01.6,1.0,1.0,3,4.19391,-0.07662,37.54160,0.00000,-0.00001,5.0
3,35.0,3,22:27.7,00:01.7,1.0,1.0,3,4.19374,-0.08939,37.54160,0.00000,-0.00001,5.0
4,35.0,3,22:27.8,00:01.8,1.0,1.0,3,4.19374,-0.09195,37.54160,-0.00001,-0.00003,5.0
5,35.0,3,22:27.9,00:01.9,1.0,1.0,3,4.19374,-0.09195,37.54160,-0.00001,-0.00004,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51771,15.0,2,27:38.6,14:00.0,0.0,0.0,2,4.19405,0.00000,37.85707,4.77165,18.58380,35.0
51772,15.0,2,27:44.3,14:05.6,0.0,0.0,2,4.19405,0.00000,37.75191,4.77165,18.58380,35.0
51773,15.0,2,28:38.6,15:00.0,0.0,0.0,2,4.19405,0.00000,37.85707,4.77165,18.58380,35.0
51774,15.0,2,28:38.6,15:00.0,0.0,0.0,2,4.19405,0.00000,37.85707,4.77165,18.58380,35.0
51775,21.0,2,28:39.7,00:01.0,0.0,0.0,4,4.19405,0.00000,37.85707,0.00000,0.00000,35.0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 596473 entries, 1 to 51775
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Step         596473 non-null  float64
 1   Status       596473 non-null  int32
 2   Prog Time    596473 non-null  object
 3   Step Time    596473 non-null  object
 4   Cycle        596473 non-null  float64
 5   Cycle Level  596473 non-null  float64
 6   Procedure    596473 non-null  int32
 7   Voltage      596473 non-null  float64
 8   Current      596473 non-null  float64
 9   Temperature  596473 non-null  float64
 10  Capacity     596473 non-null  float64
 11  WhAccu       596473 non-null  float64
 12  Cnt          596473 non-null  float64
dtypes: float64(9), int32(2), object(2)
memory usage: 59.2+ MB

In [15]:
data = data.drop(['Prog Time','Step Time'], axis=1)
data

,Step,Status,Cycle,Cycle Level,Procedure,Voltage,Current,Temperature,Capacity,WhAccu,Cnt
1,35.0,3,1.0,1.0,3,4.19391,-0.03320,37.54160,0.00000,0.00000,5.0
2,35.0,3,1.0,1.0,3,4.19391,-0.07662,37.54160,0.00000,-0.00001,5.0
3,35.0,3,1.0,1.0,3,4.19374,-0.08939,37.54160,0.00000,-0.00001,5.0
4,35.0,3,1.0,1.0,3,4.19374,-0.09195,37.54160,-0.00001,-0.00003,5.0
5,35.0,3,1.0,1.0,3,4.19374,-0.09195,37.54160,-0.00001,-0.00004,5.0
...,...,...,...,...,...,...,...,...,...,...,...
51771,15.0,2,0.0,0.0,2,4.19405,0.00000,37.85707,4.77165,18.58380,35.0
51772,15.0,2,0.0,0.0,2,4.19405,0.00000,37.75191,4.77165,18.58380,35.0
51773,15.0,2,0.0,0.0,2,4.19405,0.00000,37.85707,4.77165,18.58380,35.0
51774,15.0,2,0.0,0.0,2,4.19405,0.00000,37.85707,4.77165,18.58380,35.0
51775,21.0,2,0.0,0.0,4,4.19405,0.00000,37.85707,0.00000,0.00000,35.0